stages:
  - deploy

deploy_lambda:
  image: python:3.11
  stage: deploy
  before_script:
    - apt-get update && apt-get install -y zip
    - pip install --upgrade awscli
    - pwd
    - ls -la
    - zip -r function.zip .
  script:
    - aws lambda update-function-code --function-name "$LAMBDA_FUNCTION_NAME" --zip-file "fileb://function.zip" --region "$AWS_DEFAULT_REGION"
  only:
    - main
